.kglabel {
	padding-right: 5px; font-weight: bold; float: left; display: block;
}
.kgNoSelect {
	-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.koGrid {
	background-color: rgb(253, 253, 253); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.kgGroupPanel {
	overflow: hidden; border-bottom-color: rgb(213, 208, 181); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(234, 234, 234);
}
.kgGroupPanelDescription {
	margin-top: 5px; margin-left: 5px;
}
.kgGroupList {
	margin: 0px; padding: 0px; list-style-type: none;
}
.kgGroupItem {
	float: left;
}
.kgGroupElement {
	width: 100%; height: 100%; float: left;
}
.kgGroupName {
	padding: 3px 10px; border-radius: 3px; border: 1px solid rgb(213, 208, 181); font-weight: bold; margin-top: 2px; margin-left: 0px; float: left; background-color: rgb(247, 247, 247); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
:first-child.kgGroupItem {
	margin-left: 2px;
}
.kgRemoveGroup {
	width: 5px; margin-top: -1px; margin-left: 5px; float: right; opacity: 0.4; -moz-opacity: 0.4;
}
.kgRemoveGroup:hover {
	color: black; text-decoration: none; cursor: pointer; opacity: 0.7; -moz-opacity: 0.7;
}
.kgGroupArrow {
	width: 0px; height: 0px; margin-top: 10px; margin-right: 5px; margin-left: 5px; border-top-color: transparent; border-bottom-color: transparent; border-left-color: black; border-top-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; float: right;
}
.kgTopPanel {
	border-bottom-color: rgb(213, 208, 181); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 5; background-color: rgb(234, 234, 234);
}
.kgHeaderContainer {
	overflow: hidden; font-weight: bold; position: relative;
}
.kgHeaderScroller {
	position: absolute;
}
.kgHeaderSortColumn {
	overflow: hidden; position: absolute; cursor: pointer;
}
.kgHeaderCell {
	border-left-color: rgb(213, 208, 181); border-left-width: 1px; border-left-style: solid; position: absolute; cursor: pointer;
}
:first-child.kgHeaderCell {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
:last-child.kgHeaderCell {
	border-right-color: rgb(213, 208, 181); border-right-width: 1px; border-right-style: solid;
}
.kgSortButtonUp {
	border-width: 0px 5px 5px; border-style: solid; border-color: gray transparent; left: 0px; top: 3px; width: 0px; height: 0px; right: 0px; margin-right: auto; margin-left: auto; position: absolute;
}
.kgSortButtonDown {
	border-width: 5px 5px 0px; border-style: solid; border-color: gray transparent; left: 0px; top: 3px; width: 0px; height: 0px; right: 0px; margin-right: auto; margin-left: auto; position: absolute;
}
.kgHeaderGrip {
	top: 0px; width: 10px; height: 100%; right: -5px; position: absolute; z-index: 5; cursor: col-resize;
}
.kgHeaderText {
	padding: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; box-sizing: border-box; -o-text-overflow: ellipsis;
}
.kgViewport {
	overflow: auto; min-height: 20px;
}
.kgCanvas {
	position: relative;
}
.kgRow {
	border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; position: absolute; cursor: pointer;
}
.even.kgRow {
	background-color: rgb(243, 243, 243);
}
.odd.kgRow {
	background-color: rgb(253, 253, 253);
}
.selected.kgRow {
	background-color: rgb(255, 255, 215);
}
.canSelect.kgRow {
	cursor: pointer;
}
.kgCell {
	overflow: hidden; border-left-color: rgb(213, 208, 181); border-left-width: 1px; border-left-style: solid; position: absolute;
}
:first-child.kgCell {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
:last-child.kgCell {
	border-right-color: rgb(213, 208, 181); border-right-width: 1px; border-right-style: solid;
}
.kgCellText {
	padding: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; box-sizing: border-box; -o-text-overflow: ellipsis;
}
.kgSelectionHeader {
	left: 6px; top: 11px; position: absolute;
}
input[type='checkbox'] {
	margin: 0px; padding: 0px;
}
input {
	vertical-align: top;
}
.kgSelectionCell {
	margin-top: 9px; margin-left: 6px;
}
.kgNoSort {
	cursor: default;
}
.kgFooterPanel {
	padding: 0px; border-top-color: rgb(213, 208, 181); border-top-width: 1px; border-top-style: solid; position: relative; background-color: rgb(234, 234, 234);
}
.kgTotalSelectContainer {
	margin: 7px 5px 5px; float: left;
}
.kgFooterSelectedItems {
	padding: 2px;
}
.kgFooterTotalItems {
	padding: 2px;
}
.kgnoMultiSelect.kgFooterTotalItems {
	padding: 0px !important;
}
.kgAggHeader {
	border: currentColor; position: absolute;
}
.kgAggregate {
	left: 0px; top: 0px; right: -1px; bottom: 0px; overflow: hidden; border-bottom-color: rgb(212,212,212); border-bottom-width: 1px; border-bottom-style: solid; position: absolute; background-color: rgb(255, 255, 212); /*rgb(179, 191, 188);*/
}
.kgAggregateText {
	left: 27px; top: 5px; line-height: 20px; white-space: nowrap; position: absolute;
}
.kgAggArrowExpanded {
	border-width: 0px 0px 9px 9px; border-style: solid; border-color: transparent transparent rgb(0, 0, 0); left: 8px; width: 0px; height: 0px; bottom: 10px; position: absolute;
}
.kgAggArrowCollapsed {
	border-width: 5px 0px 5px 8.7px; border-style: solid; border-color: transparent transparent transparent rgb(0, 0, 0); left: 8px; width: 0px; height: 0px; bottom: 10px; position: absolute;
}
.kgHeaderButton {
	border-radius: 50%; top: 8px; width: 14px; height: 14px; right: 2px; position: absolute; z-index: 5; cursor: pointer; background-color: rgb(179, 191, 188); -moz-border-radius: 50%; -webkit-border-radius: 50%;
}
.kgHeaderButtonArrow {
	border-width: 6.5px 4.5px 0px; border-style: solid; border-color: rgb(0, 0, 0) transparent transparent; left: 3px; top: 4px; width: 0px; height: 0px; position: absolute;
}
.kgColMenu {
	padding: 5px; border-radius: 3px; border: 2px solid rgb(212, 212, 96); top: 25px; right: 2px; position: absolute; z-index: 5; background-color: rgb(255, 255, 204); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.kgMenuText {
	left: 2px; top: 2px; position: relative;
}
.kgColList {
	list-style-type: none;
}
.kgColListItem {
	top: 3px; right: 25px; white-space: nowrap; position: relative;
}
.kgColListCheckbox {
	top: 5px; right: 5px; position: relative;
}
.kgPagerButton {
	height: 25px; margin-bottom: 10px; min-width: 26px;
}
.kgPagerFirstTriangle {
	border-width: 5px 8.7px 5px 0px; border-style: solid; border-color: transparent rgb(0, 0, 0) transparent transparent; width: 0px; height: 0px; margin-left: 2px;
}
.kgPagerFirstBar {
	width: 10px; height: 12px; margin-top: -6px; margin-left: -3px; border-left-color: black; border-left-width: 2px; border-left-style: solid;
}
.kgPagerLastTriangle {
	border-width: 5px 0px 5px 8.7px; border-style: solid; border-color: transparent transparent transparent rgb(0, 0, 0); width: 0px; height: 0px; margin-left: -1px;
}
.kgPagerLastBar {
	width: 10px; height: 12px; margin-top: -6px; margin-left: 1px; border-left-color: black; border-left-width: 2px; border-left-style: solid;
}
.kgPagerPrevTriangle {
	margin-left: 0px;
}
.kgPagerNextTriangle {
	margin-left: 1px;
}
.kgGroupIcon {
	top: 2px; width: 15px; height: 15px; right: -18px; position: absolute; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAEFJREFUKFNjoAhISkr+h2J5JDZODNXGwGBsbPwfhIGAA8bGh6HaGBiAGhxAGJmND4M1gQCSM0adCsVQbcPcqQwMALWDGyDvWPefAAAAAElFTkSuQmCC"); background-repeat: no-repeat;
}
.kgGroupedByIcon {
	top: 2px; width: 15px; height: 15px; right: -17px; position: absolute; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAElJREFUKFNjoAhISkr+R8LyaHwMDNXGwGBsbPwfhoGAA5mPDUO1oWpE52PDYE0gALTFAYbR+dgwWBMIoPlh1I9ADNU2NPzIwAAAFQYI9E4OLvEAAAAASUVORK5CYII="); background-repeat: no-repeat;
}
.kgGroupingNumber {
	top: 1px; right: -25px; position: absolute;
}
